extends templates/layout
include templates/_mixins

block nav
	- var currentTitle = "online.html";
	+menu(currentTitle)


block content

	.news-page
		h1 Online

		.news-page__info
			p En collaboration avec la plateforme de diffusion de films numérique #{' '}
				a(href="https://festival.filmocracy.com/europebyeurope/" target="_blank") Filmocracy
				|, une sélection d'événements du Festival est disponible en ligne en parallèle avec les projections en salles. Grâce à son concept innovant, #{' '}
				a(href="https://festival.filmocracy.com/europebyeurope/" target="_blank") Filmocracy
				| #{' '} offre une expérience festivalière en numérique avec les rencontres professionnelles, sessions Q&A, débats, rencontres informelles avec les spectateurs. Suivez nos actualités et vérifiez le programme pour nous rejoindre en virtuel.


		.news-page__section
			h2 Prochainement
			.news-page__list
				each item in news
					if item.online === true
						a(href="online-detail.html").news-sm
							.news-sm__img
								if item.online === true
									span en ligne
								img(src= item.img alt= item.title)
							h4= item.title
							if item.director !==""
								p.title= item.director
							if item.date !==""
								.news-sm__date
									span= item.date
							.news-sm__descr
								p= item.info

		.news-page__section
			h2 Evénements passés
			.news-page__list
				each item in news
					if item.online !== true
						a(href="online-detail-past.html").news-sm
							.news-sm__img
								if item.online !== true
									span.past en ligne
								img(src= item.img alt= item.title)
							h4= item.title
							if item.director !== ""
								p.title= item.director
							if item.date !== ""
								.news-sm__date
									span= item.date
							.news-sm__descr
								p= item.info


		include templates/_incl-pagination